body {
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.mainheader{
    margin: 0;
    padding: 0;
    background: none;
    background-color: black;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.mainheader h1{
    opacity: 100%;
    color: antiquewhite;
    text-align: center;
}

.mainheader nav{
    opacity: 100%;
    text-align: justify;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
}
/*The link to the About page*/
.mainheader a  {
    color: antiquewhite;
    text-decoration: none;
    font-size: 18px;
    transform: none;
}
.mainheader a:hover {
    color: cyan;
    transform: scale(1.1);
}

.MainText {
    margin-top: 30px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

.MainText a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.MainText a:hover {
    text-decoration: underline;
}

.MainText a img {
    width: auto;
    height: auto;
}
