body {
    margin: 0;
    padding: 0;
}

.mainheader{
    margin: 0;
    padding: 0;
    background: fixed;
    background-color: black;
    opacity: 80%;
    display: flow-root;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transform: scale(1);
    position: static;
    height: 110px;
}

.mainheader h1{
    opacity: 100%;
    color: antiquewhite;
    text-align: center;
}

.mainheader nav{
    opacity: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 64px;
    justify-content: center;
}
/*The link to the About page*/
.mainheader a  {
    color: antiquewhite;
    text-decoration: none;
    font-size: 20px;
    transform: none;
}
.mainheader a:hover {
    color: cyan;
    transform: scale(1.1);
}

.MainText a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
    text-align: justify;
    display: flex;
    margin-top: 30px;
    padding: 20px;
}

.MainText a:hover {
    text-decoration: underline;
    color: black;
    font-weight: 500;
    font-size: 14px;
    text-align: justify;
    display: flex;
    margin-top: 30px;
    overflow: hidden;

}

.MainText a img {
    width: 20%;
    float: left;
}